[Desktop Entry]
Name=SoftwareManager
Type=Application
Exec=python3 -m SoftwareManager
Icon=softwaremanager
Terminal=false
Categories=X-Software;X-Torrents;
